<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SWG Entertainer Buff Builder{% endblock %}</title>
        <meta name="language" content="en">
        <meta name="robots" content=”index,nofollow”>
        <meta name="description" content="Star Wars Galaxies - Entertainer Buff Builder. Conveniently create your entertainer buff setup.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/faviconEBB.ico') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <h1 class="bg-transparent text-transparent h-px overflow-hidden mb-4 xl:mb-10">
            {% block hiddenTitle %}{% endblock %}
        </h1>

        <div class="w-full sm:max-w-[600px] md:max-w-[720px] lg:max-w-[990px] xl:max-w-[1220px] px-4 mx-auto">
            <main class="flex flex-wrap text-swgLighterBlue bg-swgDarkBlue border-swgLightBlue border-solid border-[3px] rounded-[7px] mb-6" id="mainDialog" data-controller="app">
                <textarea data-app-target="buffsJson" class="hidden">
                    [
                    {% for buff in allBuffs %}
                        {
                            "id": {{ buff.id }},
                            "name": "{{ buff.name }}",
                            "cost": {{ buff.cost }},
                            "maxAssignments": {{ buff.maxAssignments }},
                            "effect": {{ buff.effect }},
                            "description": "{{ buff.description }}",
                            "prefix": "{{ buff.prefix }}",
                            "suffix": "{{ buff.suffix }}",
                            "assignments": {{ buff.assignments }}
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                    ]
                </textarea>
                <div class="w-full px-1.5 py-1 bg-swgLightBlue text-swgDarkBlue font-bold text-sm">
                    SWG Entertainer Buff Builder ●&nbsp;<i>{% block edition %}{% endblock %}</i>&nbsp;<small>by Sipherius</small>
                    <span class="float-right underline cursor-pointer">Show tour</span>
                </div>
                <div class="w-full md:w-1/2 px-4">
                    <div id="assignments" class="bg-swgDarkBlue border border-solid border-swgBlue rounded-[7px] my-4 p-3">
                        {% for buffGroupName, buffGroup in buffGroups %}
                            <div>
                                <div>
                                    <div class="w-full font-bold leading-8">
                                        {{ buffGroupName }}
                                    </div>
                                </div>
                                {% for buff in buffGroup %}
                                    <div><!-- Category entry -->
                                        <div class="flex leading-7">
                                            <div class="w-2/3">
                                                <div class="ml-4">
                                                    {{ buff.name}} (<span class="hidden lg:inline">cost </span>{{ buff.cost }})
                                                </div>
                                            </div>
                                            <div class="w-1/3 text-right select-none whitespace-nowrap">
                                                <div class="flex items-center justify-end">
                                                    <span class="mr-4"><span id="assignments_{{ buff.id }}">{{ buff.assignments }}</span>/{{ buff.maxAssignments }}</span>
                                                    <button type="button"
                                                            id="assignments_{{ buff.id }}_decrease"
                                                            class="w-5 h-5 p-0 mr-1 text-base leading-none rounded disabled:opacity-60 text-swgBlue border-swgBlue hover:bg-swgBlue hover:border-swgBlue hover:text-gray-700 text-center align-middle select-none bg-transparent border border-solid transition-colors"
                                                            data-app-buffid-param="{{ buff.id }}"
                                                            data-app-action-param="decrease"
                                                            data-action="app#selectBuff"
                                                            disabled>
                                                        -
                                                    </button>
                                                    <button type="button"
                                                            id="assignments_{{ buff.id }}_increase"
                                                            class="w-5 h-5 p-0 text-base leading-none rounded disabled:opacity-60 text-swgBlue border-swgBlue hover:bg-swgBlue hover:border-swgBlue hover:text-gray-700 text-center align-middle select-none bg-transparent border border-solid transition-colors"
                                                            data-app-buffid-param="{{ buff.id }}"
                                                            data-app-action-param="increase"
                                                            data-action="app#selectBuff">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4">
                    <div class="bg-swgDarkBlue border border-solid border-swgBlue rounded-[7px] my-4 p-3 pb-2">
                        <div class="flex">
                            <div class="w-3/4 font-bold">
                                Points assigned
                            </div>
                            <div class="w-1/4 font-bold text-right"><span data-app-target="pointsAssigned">0</span> / <span data-app-target="pointsMax">{{ pointsMax }}</span></div>
                        </div>
                    </div>
                    <div id="selectedBuffs"
                         class="bg-swgDarkBlue border border-solid border-swgBlue rounded-[7px] my-4 p-3 pb-2">
                        <div class="w-full font-bold">
                            Selected buffs:
                        </div>
                        {% for buffGroupName, buffGroup in buffGroups %}
                            {% for buff in buffGroup %}
                                <div id="assigned_{{ buff.id }}_container"
                                     class="w-full mt-4 ml-4 hidden">
                                    {{ buff.prefix }}<span id="assigned_{{ buff.id }}_strength">X</span>{{ buff.suffix }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="mt-4 flex justify-end">
                            {{ include('partials/button.html.twig', {id: 'clearAllButton', label: 'Clear all', dataAction: 'app#clearAll'}) }}
                        </div>
                    </div>
                </div>
                <div class="w-full px-4">
                    <div class="bg-swgDarkBlue border border-solid border-swgBlue rounded-[7px] my-4 p-3 pb-2">
                        <div class="font-bold">
                            <label for="chatMessage">Send the following request to your entertainer</label>
                        </div>
                        <div class="mt-2 mb-4 relative">
                            {{ include('partials/input.html.twig', {id: 'chatMessage', dataTarget: 'data-app-target="chatMessage"', placeholder: 'Please select some buffs from the list.', readonly: 'readonly'}) }}
                            {{ include('partials/button.html.twig', {id: 'copyToClipboardButton', label: 'Copy to clipboard', dataAction: 'app#copyToClipboard'}) }}
                            {{ include('partials/button.html.twig', {id: 'saveToUrlButton', label: 'Save to URL', dataAction: 'app#saveToUrl'}) }}
                            <div data-app-target="copySuccess"
                                 class="hidden absolute top-full bg-swgOrange text-white rounded mt-2 py-1 px-2">
                            </div>
                        </div>
                        <div class="font-bold">
                            <label for="chatTemplate">Modify the request template</label>
                        </div>
                        <div class="mt-2 mb-4">
                            {{ include('partials/input.html.twig', {id: 'chatTemplate', value: template, dataTarget: 'data-app-target="template"'}) }}
                            {{ include('partials/button.html.twig', {id: 'applyTemplateButton', label: 'Apply template', dataAction: 'app#applyTemplate'}) }}
                            {{ include('partials/button.html.twig', {id: 'resetTemplateButton', label: 'ResetTemplate', dataAction: 'app#resetTemplate'}) }}
                        </div>
                    </div>
                </div>
                {% block body %}{% endblock %}
            </main>
            <footer class="flex flex-wrap text-swgLighterBlue bg-swgDarkBlue border-swgLightBlue border-solid border-[3px] rounded-[7px] mb-6">
                <div class="w-full px-1.5 py-1 bg-swgLightBlue text-swgDarkBlue font-bold text-sm">
                    Credits
                </div>
                <div class="w-full my-4 px-4">
                    {% block credits %}{% endblock %}
                </div>
            </footer>
        </div>
    </body>
</html>
